#canvas {
    position: absolute;
    background-color: white;
}

form input.on::placeholder {
    color: #FF5722;
}

@media screen and (max-width: 768px) {
    input {
        width: 100%;
        height: 100%;
    }

    #canvas {
        position: relative;
        right: 0;
    }
}